.notif {
  position: fixed;
  z-index: 30;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: rgb(212, 223, 233);
  border: 1px solid rgb(48,144,226);
  padding: 0 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notif.visible {
  opacity: 1;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  color: #000000;
}

.close-button:hover {
  color: rgb(48,144,226);
  cursor: pointer;
}